<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <base href="/" />

    <title>React+Typescript 보일러 플레이트</title>
    <script>
      document.oncontextmenu = function() {
        return false;
      }
    </script>
    <style>
      * {
        -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
      }
    </style>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
<div id="root"></div>
</body>
</html>
